html, body {
  overflow-x:hidden;
}
body {
  font-family:"roboto", arial, sans-serif;
  color:#333333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "roboto", Arial, sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 5px;
}
p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content:" ";
  display: table;
}
.container:after {
  clear:both;
}
.one-half, .one-third, .one-fourth, .one-fifth {
  width:96%;
  float:left;
  position:relative;
  min-height: 1px;
  margin:0 2% 20px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}


@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width:46%;
  }
  .one-third {
    width:29.333333%;
  }
  .one-fourth {
    width:21%;
  }
  .one-fifth {
    width:16%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media tv (min-width: 1920px) {
  header h1, p, a {
    font-size: 60px;
  }
}

header {
  background-image: url(../Images/notepad.png);
  background-color: #FFFFFF;
}
header nav {
  background-color:#FFFFFF
}
header nav ul {
  list-style-type: none;
  text-align: right;
  float: right;
  margin:0;
  overflow:hidden;
  background-color:#FFFFFF;
}
header ul > li {
  display: inline-block;
  background-color:#FFFFFF;
  margin-right: 25px;
}
ul.menu li:nth-child(5){display:none;}

header h1 {
  padding-left:50px;
  margin-top: 50px;
}
header nav ul > li.btn-outline > a {
  background:#4990E2;
  color:#FFFFFF;
  border: none;
  border-radius: 4px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px
}
header nav ul > li.btn-outline > a:hover {
  background:#E738D9;
  color:#FFFFFF;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px
 }
 header nav ul > li > a {
   color:#4A4A4A;
   text-decoration: none;
 }

 @media (max-width:780px) {
  ul.menu li:nth-child(5) {display:inline;}
  ul.menu li:nth-child(-n+4) {display:none;}
 }

 .menu {
  margin-top: 60px;
 }
 header p {
  padding-left:50px;
  padding-bottom: 5em;
 }
header .btn{
  background:#4990E2;
  color:#FFFFFF;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 50px;
  margin-bottom: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}



.benefits {
  text-align: center;
  display:block;
  position:relative;
  padding-top:4em;
  padding-bottom:4em;
}

center {
  /* Rectangle 5: */
background: linear-gradient(-180deg, #F2F9FC 0%, #C4E6F0 87%) 
}

.cloud {
    position: absolute;
    left: 0px;
    top: 1000px;
}

.beneifts ul {
  padding:2em 2em;
}

.benefits ul li {
  list-style-type: none;
  display: block;
  background-color: #4990E2;
  color:#FFFFFF;
  width: 200px;
  height: 250px;
  padding: 2em 1em;
  border-style: double;
  position:relative;
}

 @media (max-width:1200px) {
 .benefits ul.container li:nth-child(4) {display:none;}
 .benefits ul.container li {margin-left: 50px;}
 }
 @media (max-width:1000px) {
/* .benefits ul.container li:nth-child(3) {display:none;}*/
.benefits ul.container li {margin-left: 30px;}
 }
.benefits .benefitsicon {
  display: inline-block;
}

.benefits h2 {
  position:absolute;
  bottom:150px;
  left:20px;
  right:20px;
}

.benefits p {
  position:absolute;
  top:160px;
  left:20px;
  right:20px;
}

.testimonials {
  text-align: center;
}

 @media (max-width:990px) {
 .testimonials ul.container li:nth-child(n+3) {display:none;}
 }

.testimonials h2 {
  text-align: center;
  display:block;
  position:relative;
  padding-top : 1em;
}

.testimonials blockquote {
  color:#FFFFFF;
  text-align: left;
  font-style: italic;
  background:#34495E;
  position: relative;
  padding:30px;
  width:auto;
  margin:0;
}

.testimonials blockquote:after {
  top:100%;
  left:13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #34495E;
  border-width: 10px;
  margin-left: -10px;
}
.testimonials p {
  text-align: center;
  display:block;
  position:relative;
}
.testimonials img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  float: left;
  display: inline-block;
  margin:20px 10px 0 0;
}

.testimonials p.name {
  float:left;
  display: inline-block;
  text-align: left;
  font-size: 13px;
  margin-top: 30px;
}

.testimonials ul li {
  list-style-type: none;
}

.down {
    position:relative;
    float:center;
    margin-top:20px;
}

.pricing {
  text-align: center;
  padding:4em 0;
}
.pricing ul {
  margin:0 auto;
  padding:2em 0;
}

.pricing ul li {
  list-style-type: none;
}

.outer-box {
  padding:0 15px 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  min-height: 470px;
  position: relative;
  margin-top:25px;
  border-radius: 7px;
}

.outer-box h3 {
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
 /* Rectangle 18 Copy 4: */
background: #4990E2 ;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 7px;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin:0 -15px 10px;
  padding:30px 0;
}

.outer-box li {
margin-bottom: 5px;
}

.castle {
  padding-top: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.bigcastle {
  margin-top: 3px;
  margin-bottom: 10px;
}

.pricing .btn {
  position:absolute;
  top:450px;
  left:20px;
  right:20px;
}

footer { 
/* footer background: */
background: #2A3A4D;
border: 1px solid #979797; 
color: #FFFFFF;
position: inline;
padding-bottom: 50px;
}

footer .link-bloc ul {
  color: #FFFFFF;
}

footer .link-block ul li {
  color: #FFFFFF;
  margin-top: 100px;
  list-style-type:none;
  display: inline;
}

 @media (max-width:1000px) {
  ul.nav-items {display:none;}
 }

.pricing h4 {
  font-size: 20px;
  margin:0 0;
}
.link {
  text-decoration: none;
  color: inherit;
}

.nav-items {
  position: inline-block;
}

.logo {
  float: right;
  position: inline-block;
  width: 10%;
}
@media (max-width:1000px){
  .logo {float:left; margin-top:-50px;}
}
