.upit {
    list-style: none;
    padding: 0;
  margin: 0;
    float:right;
    display:inline-block;
}
.upit .upit-trigger { position: relative; }
.upit .upit-submenu {
    position: absolute;
    bottom: 100%;
    right: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    width: 140px;
    list-style: none;
    text-align: left;
  padding: 20px;
  margin: 20px 0 0;
}
.upit .upit-open .upit-submenu { 
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
    border-radius: 4px;
}
.upit .upit-open .upit-submenu:after {
    content:" ";
    position: absolute;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1000;
    bottom: 8px;
    right: 10px;
}

.upit .upit-open .upitsubmenu li {
 display: block;
 margin-bottom:20px;   
}
.upit .upit-open .upit-submenu li:last-child {
    margin-bottom: 0px;
}
.upit .upit-open .upit-submenu li a {
    color:#34495E;
    text-decoration: none;
    padding:0;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 100;
}
.upit {
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
    float:right;
    display:inline-block;
}

.upit .upit-trigger { position: relative; }
.upit .upit-submenu {
    position: absolute;
    bottom: 100%;
    right: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 100px;
    list-style: none;
    padding: 20px;
    margin: 20px 0 0;
}

.upit .upit-open .upit-submenu { 
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
    border-radius: 4px;
}
.upit .upit-open .upit-submenu:after {
    content:" ";
    position: absolute;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: 8px;
    right: 10px;
}


.upit .upit-open .upitsubmenu li {
 display: block;
 margin-top:20px;   
}

.upit .upit-open .upit-submenu li:last-child {
    margin-bottom: 0px;
}
.upit .upit-open .upit-submenu li a {
    color:#34495E;
    text-decoration: none;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 100;
}
.Setting .upit {
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
    float:right;
    display:inline-block;
}